@using HtmlHelpers.Paging.Helpers
@model HtmlHelpers.Paging.Models.IndexViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Paging</title>
    <link href="/Content/css/main.css" rel="stylesheet"/>
    <script src="/Content/js/jquery-1.11.3.min.js"></script>
    <script src="/Content/js/custom-jquery.js"></script>

</head>
<body>
    <div class="container">

        <h1>List</h1>

        <ul class="list">
            <li>
                <div>Tarih</div>
                <div>Ad Soyad</div>
                <div>Şehir</div>
                <div>Oy Sayısı</div>
            </li>
            @foreach (var item in Model.List)
            {
                <li>
                    <div>@item.CreateDate</div>
                    <div>@item.Name</div>
                    <div>@item.City</div>
                    <div>@item.Vote</div>
                </li>
            }
        </ul>
        <div class="paging">
            @Html.Paging(Model.TotalCount, Model.ListPageCount, Model.ActivePageIndex, "?page={0}")
        </div>

    </div>
</body>
</html>