@using Paging.HtmlHelpers
@model Paging.Models.IndexViewModel

<h1>Index</h1>

<ul class="list">
    <li>
        <div>Tarih</div>
        <div>Ad Soyad</div>
        <div>Şehir</div>
        <div>Oy Sayısı</div>
    </li>
    @foreach (var item in Model.List)
    {
        <li>
            <div>@item.CreateDate</div>
            <div>@item.Name</div>
            <div>@item.City</div>
            <div>@item.Vote</div>
        </li>
    }
</ul>
<div class="paging">
    @Html.Paging(Model.TotalCount, Model.ListPageCount, Model.ActivePageIndex, "?page={0}")
</div>