@using Helper.Paging.Helpers
@model Helper.Paging.Models.IndexViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/css/main.css" rel="stylesheet"/>
    <script src="/Content/js/jquery-1.11.3.min.js"></script>

    <script>
        $(function() {
            $('.point').mouseover(function () {
                var prevCount = parseInt($(this).prev().find('a').html());
                var nextCount = parseInt($(this).next().find('a').html());
                
                var tooltiPages = "<ul>";
                for (var i = prevCount + 1; i < nextCount; i++) {
                    tooltiPages += "<li><a href='?page=" + i + "'>" + i + "</a></li>";
                }
                tooltiPages += "</ul>";
                $(this).append("<div class='paging-tooltip'>" + tooltiPages + "</div>");
            });

            $('.point').mouseout(function () {
                $(this).find('.paging-tooltip').remove();
            });
        })
    </script>
    <style>
        .point {
            position: relative;
        }
        .paging-tooltip {
             position: absolute;width: 100px;height: 40px;border-radius: 4px;border: 1px solid #ccc;top: -40px;left: -50px;z-index: 1000;background-color: #fff;
        }
    </style>
</head>
<body>
    <div class="container">

        <h1>List</h1>

        <ul class="list">
            <li>
                <div>Tarih</div>
                <div>Ad Soyad</div>
                <div>Şehir</div>
                <div>Oy Sayısı</div>
            </li>
            @foreach (var item in Model.List)
            {
                <li>
                    <div>@item.CreateDate</div>
                    <div>@item.Name</div>
                    <div>@item.City</div>
                    <div>@item.Vote</div>
                </li>
            }
        </ul>
        <div class="paging">
            @Html.Paging(Model.TotalCount, Model.ListPageCount, Model.ActivePageIndex, "?page={0}")
        </div>

    </div>
</body>
</html>